* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #009DC4;
}
div {
  margin: 10px;
}
.containerbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  border-radius: 15px;
  min-height: 300px;
  padding: 10px;
  min-width: 300px;
}
.containerbox img {
  width: 100%;
}
.menu {
  margin-bottom: 10px;
}
.menu ul {
  background: #228B22;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.menu li {
  display: inline-block;
}
.menu a {
  display: block;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}
.menu a:hover {
  background-color: blue;
}
.game-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* The modal stays in place */
  z-index: 1; /* The modal will be placed ahead of the other content on the webpage */
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none; /* The mouse pointer will not target the game modal */
  width: 100vw;
  height: 100vh;
  overflow: auto; /* Enable scroll if needed */
  background: rgba(0, 157, 196, 0.5);
  transition: opacity 1s ease; /* Transition into opacity from 0 to 1 (.show) in 1 second */
}
.game-modal.show {
  opacity: 1;
  pointer-events: auto; /* The mouse pointer will target the game modal */
}
.game-modal #hangman-game-modal {
  background: white;
  border-radius: 15px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}
.currentword {
  display: flex; /* Add the lines between each other (put it here instead of ".currentword li") */
  gap: 10px; /* Create a gap between the lines (alternative to "padding: 0 10px;"") */
  justify-content: center;
  list-style-type: none;
  margin-bottom: 20px;
  overflow: hidden;
}
.currentword li {
  border-bottom: black solid 3px;
  font-size: 24px;
  height: 40px;
  text-transform: uppercase;
  text-align: center;
  width: 30px; /* This will prevent the lines from covering the entire page */
}
li.currentletter {
  border-bottom-color: transparent;
}
#keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto; /* Centers the entire keyboard */
  padding: 15px;
  gap: 10px;
  max-width: 350px;
}
#keyboard button {
  background: #009DC4;
  color: white;
  cursor: pointer;
  height: 35px;
  width: 35px;
}
#keyboard button.clickedbutton {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
#stuckwidth {
  max-width: 300px;
}
#widenbox {
  max-width: 100%;
}